# Environment variables required for docker-compose.prod.yml

# Database secret password
DB_PASSWORD=sua-senha-segura-do-banco-de-dados

# Backend secrets
JWT_SECRET=sua-chave-secreta-jwt-de-producao
CRON_SECRET=chave-secreta-para-jobs-cron

# Frontend Next.js options
NEXT_PUBLIC_API_URL=http://localhost:3001
AUTH_SECRET=sua-chave-secreta-next-auth
