# ==========================================
# NEXUS CORE - ENVIRONMENT CONFIGURATION
# ==========================================

# Portas de Rede
PORT=3004
BACKEND_PORT=3004
FRONTEND_PORT=3002

# PostgreSQL Database (Senha padrão local: 1213122)
DB_PASSWORD=1213122
DATABASE_URL=postgresql://admin:1213122@localhost:5433/core_db

# Backend Secrets
JWT_SECRET=super_secret_key_nexus_2026_dev_environment
CRON_SECRET=gerar-uma-chave-aleatoria-para-o-cron-job
SEED_ADMIN_PASSWORD=admin

# Frontend Next.js Options
NEXT_PUBLIC_API_URL=http://localhost:3004
NEXT_API_URL=http://localhost:3004
AUTH_SECRET=minha-super-secret-1234567890
AUTH_TRUST_HOST=true
AUTH_URL=http://localhost:3002/api/auth

# Lyceum SQL Server Connection (Academic Module)
LYCEUM_DB_HOST=172.29.44.90
LYCEUM_DB_PORT=1433
LYCEUM_DB_DATABASE=Lyceum
LYCEUM_DB_USERNAME=PortAeeConsult
LYCEUM_DB_PASSWORD=Port4eeC0nsult@Tudo.
LYCEUM_DB_PREFIX=dbo.

# Moodle OpenLMS URLs (Opcional para dev)
# MOODLE_EAD_GRADES_GET_URL=...
# MOODLE_EAD_PROGRESS_GET_URL=...
